# ------------------- Explications -------------------

# Dépendances Node.js (ne pas versionner les modules installés)
node_modules

# PnP (Plug’n’Play Yarn)
.pnp
.pnp.js

# IDEs (par ex. WebStorm / IntelliJ)
.idea

# Tests
coverage

# Dossier de production généré
build

# Fichiers système
.DS_Store

# Variables d'environnement (très sensibles !)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs npm / yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
